
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 0.25s ease;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a {
text-decoration: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

button {
	background: tranparent;
	border: none;
	outline: none;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(
      147.52deg,
      rgba(249, 250, 251, 1) 0%,
      rgba(210, 214, 219, 1) 100%
    )
}

.hero-section {
  width: 100%;
  height: 100vh;
}

.page-body {
  padding: 16px;
  width: 100%;
  height: 100%;
}

.content {
  height: 100%;
  background: linear-gradient(
      176.17deg,
      rgba(249, 250, 251, 1) 0%,
      rgba(237, 240, 243, 1) 100%
    );
    border-radius: 6px;
    padding: 8px 0 8px 0;
    box-shadow: 
    0px 4px 6px -2px rgba(0, 0, 0, 0.05),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-hero {
  border-radius: 8px
}

.wrapper {
  padding: 96px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.wrapper-hero-message{
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: center;
  align-items:flex-start;
  width: 488px;
}


.text-pair {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: flex-start;

  h1 {
    color: #171717;
    font-size: 60px;
    line-height: 60px;
    font-weight: 600;
  }

  p {
    color: #525252;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }
}

.cta-button-container {
  display: flex;
  flex-direction: row;
  gap: 32px;
  width: 343px;
  justify-content: flex-start;
  align-items: flex-start;
}

.cta-button {
  border-radius: 4px;
  box-shadow: 
    0px 1px 2px 0px rgba(0, 0, 0, 0.06),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 16px 24px 16px 24px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 175.5px;

    &:focus {
      box-shadow: 0 0 0 4px rgba(68, 76, 231, 0.12);
    }
  
    &:disabled {
      background: #f5f5f5;
      color: #a3a3a3;
      cursor: not-allowed;
    }

    span {
      font-size: 18px;
      line-height: 28px;
      font-weight: 500;
      padding: 0 2px 0 2px;
    }
}

.primary-button {
  border: 1px solid #e5e5e5 0.5px;
  color: #171717;
  background: #fff;

  &:hover {
    background: #fafafa;
  }
}

.secondary-button {
  color: #fff;
  background: #4338ca;
  border-radius: 4px;

  &:hover {
    background: #3730a3;
  }
}
.wrapper-hero-image{
  height: 526px;
  
}
.wrapper-hero-image img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.credits {
  bottom: 1.5rem;
  color: #777;
  font-size: .6875rem;
  left: 1.5rem;
  position: fixed;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

@media (min-width: 520px) and (max-width: 768px) {
 .wrapper {
  padding: 64px 16px 64px 16px;
  flex-direction: column;
  gap: 32px;
 }

 .wrapper-hero-message {
  width: 100%;
 }

 .text-pair h1 {
  font-size: 48px;
  line-height: 48px;
 }

 .cta-button-container {
  width: 458px;
 }
}

@media (min-width: 320px)and (max-width: 535px){
  .content {
    border-radius: 4px;
  }

  .wrapper {
    padding: 48px 12px 48px 12px;
    gap: 48px;
  }

  .wrapper-hero-message {
    gap: 32px;
  }

  .text-pair {
    gap: 16px;

    h1 {
      font-size: 36px;
      line-height: 40px;
    }

    p {
      font-size: 18px;    }
  }
  .cta-button-container {
    gap: 16px;
    width: 100%;
  }

  .cta-button {
    padding: 12px 20px 12px 20px;
    gap: 6px;
    width: 100%;

    span {
      font-size: 16px;
      line-height: 24px;

    }
  }

  .wrapper-hero-image {
    height: 264px
  }
}
